h1
{
    text-align: center;
    padding-bottom: 40px;
}



form{
    text-align: center;
}


.form-group
{
    text-align: center;
    background-color: grey;
}


.form-control
{
    width: 50%;
}

.container
{
    height: 250px;
}

.title, .content, .date{
    
}

.info-wrapper
{
  
}

.knapp-wrap
{
    
}

.update-knapp, .del-knapp
{
    width: 30%;
}